Download/LEI_Issued_File_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:lei="www.leiutility.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="www.leiutility.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="LEIDirectory">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LegalEntity" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="lei:LEIRecordType">
								<xs:attribute name="LastUpdateDate" type="xs:dateTime" use="required"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="PublicationDateTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="Content" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FULL"/>
						<xs:enumeration value="DELTA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PublicationId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LEIRecordType">
		<xs:sequence>
			<xs:element name="LEI" type="lei:LEI" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OtherIdentifiers" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OtherIdentifier" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="lei:Identifier">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="120"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LegalName" type="lei:LegalName" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OtherNames" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OtherName" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="lei:OtherName">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="120"/>
													<xs:enumeration value="PREVIOUS_LEGAL"/>
													<xs:enumeration value="ASCII_TRANSLIERATED_LEGAL"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="LegalAddress" type="lei:LEIAddressType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="HeadquartersAddresses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HeadquartersAddress" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="lei:LEIAddressType" />
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegistrationAuthorityID" type="lei:LEIRegistrationAuthorityID" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RegistrationAuthorityEntityID" type="lei:LEIRegistrationAuthorityEntityID" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EntityExpirationDate" nillable="true" type="xs:dateTime" form="qualified" minOccurs="0" />
			<xs:element name="EntityExpirationReason" type="lei:LEIEntityExpirationReason" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EntityStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="120"/>
						<xs:enumeration value="ACTIVE"/>
						<xs:enumeration value="INACTIVE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LegalForm">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ValidationSources">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="120"/>
						<xs:enumeration value="PENDING_REMOVAL"/>
						<xs:enumeration value="REMOVED"/>
						<xs:enumeration value="PENDING"/>
						<xs:enumeration value="FULLY_CORROBORATED"/>
						<xs:enumeration value="ENTITY_SUPPLIED_ONLY"/>
						<xs:enumeration value="PARTIALLY_CORROBORATED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Events">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Event" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="lei:EventType">
										<xs:attribute name="PortalDateTime" type="xs:dateTime"/>
										<xs:attribute name="ExternalSystemDateTime" type="xs:dateTime"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RelatedLEIs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RelatedLEI" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="lei:LEI">
										<xs:attribute name="Type">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1"/>
													<xs:maxLength value="120"/>
													<xs:enumeration value="ULTIMATE_PARENT"/>
													<xs:enumeration value="DUPLICATE_REFERENCE"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RegistrationStatus" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="120"/>
						<xs:enumeration value="ISSUED"/>
						<xs:enumeration value="LAPSED"/>
						<xs:enumeration value="MERGED"/>
						<xs:enumeration value="RETIRED"/>
						<xs:enumeration value="DUPLICATE"/>
						<xs:enumeration value="TRANSFERRED"/>
						<xs:enumeration value="PENDING_TRANSFER"/>
						<xs:enumeration value="PENDING_ARCHIVAL"/>
						<xs:enumeration value="ANNULLED"/>
						<xs:enumeration value="CANCELLED"/>
						<xs:enumeration value="PENDING_VALIDATION"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NextRenewalDate" type="xs:dateTime" form="qualified" minOccurs="0"/>
			<xs:element name="TransferTo" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EventType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
			<xs:enumeration value="DISABLED"/>
			<xs:enumeration value="LAST_MAINTAINED"/>
			<xs:enumeration value="REVIEWED"/>
			<xs:enumeration value="PROCESSED"/>
			<xs:enumeration value="REQUESTED"/>
			<xs:enumeration value="ASSIGNED"/>
			<xs:enumeration value="SENT_TRANSFER"/>
			<xs:enumeration value="PENDING_TRANSFER"/>
			<xs:enumeration value="EXPIRED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEI">
		<xs:restriction base="xs:string">
			<xs:minLength value="20"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="([0-9a-zA-Z]{18}[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalName">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherName">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LEIAddressType">
		<xs:all>
			<xs:element name="AddressLineOne" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressLineTwo" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressLineThree" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressLineFour" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Region" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="120"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="2"/>
						<xs:pattern value="([a-zA-Z]{2})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="LEIRegistrationAuthorityID">
		<xs:restriction base="xs:string">
		<xs:minLength value="0"/>
		<xs:maxLength value="100"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEIRegistrationAuthorityEntityID">
		<xs:restriction base="xs:string">
		<xs:minLength value="0"/>
		<xs:maxLength value="100"/> 
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LEIEntityExpirationReason">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>